<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        /* Center the form vertically */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .shrink {
            transform: scale(0.9);
            opacity: 0;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        }
    </style>
</head>


<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Login</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                            <button id="loginBtn" class="btn btn-primary" type="button">
                                <span class="initial-content">Login</span>
                                <span class="loading-content d-none">Loading...</span>
                                <span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>

                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery at the bottom of the body -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var link = document.createElement('link');
            link.rel = 'icon';
            link.href = '/images/favicon.ico?v=' + new Date().getTime(); // Set the path to your favicon
            $('head').append(link);
            $('#clickMe').click(function () {
                alert('Button was clicked!');
            });
            $('#loginBtn').click(function () {
                $(this).find('.initial-content').addClass('d-none');
                $(this).find('.loading-content').removeClass('d-none');
                $(this).find('.spinner-border').removeClass('d-none');


                setTimeout(function() {
                    $('#loginBtn').addClass('shrink');
                }, 1200);
            });
        });
    </script>
</body>

</html>